@import '_fonts';

// USER VARIABLES SECTION
$ffMain: 'Calibri', sans-serif;
$ffHeader: 'Oswald', sans-serif;

$minHover: 768; // если хочешь убрать hover на телефонах, укажи - 768px
$tr: .4s; // плавность

// Переменные разрешения экрана (адаптив)
$laptop-l: 1440;
$laptop: 1024;
$tablet: 768;
$mobile-l: 425;
$mobile-m: 375;
$mobile-s: 320;

// Переменные цвета
:root {
    --main: #6C7785;
    --second: #58626F;
    --accent: #FF755D;
    --accent-hover: #ff917e;
    --outline: #C0C0C0;
    --bg-page: #FEF1EB;
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$outline: var(--outline);
$bg-page: var(--bg-page);


@import '_reset';


// GENERAL DOCUMENT STYLES

body {
    color: $main;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;

    &._lock {
        overflow: hidden;
    }

    @media (max-width: $tablet + px) {
        font-size: 14px;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

@import '_grid';

// Компоненты
@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_swiper';
@import 'components/_titles';
@import 'components/_section-line';

// Секции
@import 'sections/_main';
@import 'sections/_situation';
@import 'sections/_banner';
@import 'sections/_parameters';
@import 'sections/_about';
@import 'sections/_goals';