@import "_fonts";

// USER VARIABLES SECTION
$ffMain: Calibri, Carlito, Caldea, Candara, Segoe, "Segoe UI", Optima, Arial,
  sans-serif;
$ffHeader: "Oswald", sans-serif;
$ffSerif: serif;

$minHover: 768px; // если хочешь убрать hover на телефонах, укажи - 768px
$tr: 0.4s; // плавность

// Переменные разрешения экрана (адаптив)
$laptop: 1200px;
$tablet: 900px;
$mobile-l: 600px;
$mobile-m: 440px;
$mobile-s: 350px;

// Переменные цвета
:root {
  --main: #6c7785;
  --second: #58626f;
  --accent: #ff755d;
  --accent-hover: #ff917e;
  // --accent-hover: #FF756B;
  --outline: #c0c0c0;
  --bg-page: #fef1eb;
  --bg-section: #e0ccc7;
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-section: var(--bg-section);

@import "_reset";

// GENERAL DOCUMENT STYLES

::selection {
  background: #fed9cd;
}
::-moz-selection {
  background: #ffb7b7;
}

body::-webkit-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 0.6em;
  height: 100%;
}

body::-webkit-scrollbar-track {
  background: #fef1eb;
}

body::-webkit-scrollbar-thumb {
  background-color: #cac1bc;
}

body {
  color: $main;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  background: $bg-page;

  &._lock {
    overflow: hidden;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.text-accent {
  color: $accent;
}

@import "_preloader";
@import "_grid";

// Библиотеки
@import "libs/ganimate";
@import "libs/gintlTelInput";

// Компоненты
@import "components/gbuttons";
@import "components/gforms";
@import "components/gswiper";
@import "components/gtitles";
@import "components/gsection-line";
@import "components/gmodal";

// Секции
@import "sections/gmain";
@import "sections/gsituation";
@import "sections/gbanner";
@import "sections/gparameters";
@import "sections/greviews";
@import "sections/gvideo";
@import "sections/gabout";
@import "sections/ggoals";
@import "sections/gprice";
@import "sections/gattention";
@import "sections/gafter";
@import "sections/gdiss";
@import "sections/gfaq";
@import "sections/gresult";
@import "sections/gfooter";
@import "sections/gmodal-bizon";

// Страницы
@import "pages/thank";
