@import '_fonts';

// USER VARIABLES SECTION
$ffMain: 'Calibri', sans-serif;
$ffHeader: 'Oswald', sans-serif;
$ffSerif: serif;

$minHover: 768; // если хочешь убрать hover на телефонах, укажи - 768px
$tr: .4s; // плавность

// Переменные разрешения экрана (адаптив)
// $laptop-l: 1440;
$laptop: 1200px;
$tablet: 900px;
$mobile-l: 600px;
$mobile-m: 440px;
$mobile-s: 350px;
// $laptop: 1024px;
// $tablet: 768px;
// $mobile-l: 425px;
// $mobile-m: 375px;
// $mobile-s: 320px;

// Переменные цвета
:root {
    --main: #6C7785;
    --second: #58626F;
    --accent: #FF755D;
    --accent-hover: #ff917e;
    --outline: #C0C0C0;
    --bg-page: #FEF1EB;
    --bg-section: #E0CCC7; 
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-section: var(--bg-section);


@import '_reset';


// GENERAL DOCUMENT STYLES

::selection {
    background: #fed9cd;
    // color: #fff;
}
::-moz-selection {
    background: #ffb7b7; /* Firefox */
}

body {
    color: $main;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    background: $bg-page;

    &._lock {
        overflow: hidden;
    }

    @media (max-width: $tablet) {
        // font-size: 14px;
    }
}

.wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.text-accent {
    color: $accent;
}

@import '_grid';

// Компоненты
@import 'components/_buttons';
@import 'components/_forms';
@import 'components/_swiper';
@import 'components/_titles';
@import 'components/_section-line';

// Секции
@import 'sections/_main';
@import 'sections/_situation';
@import 'sections/_banner';
@import 'sections/_parameters';
@import 'sections/_reviews';
@import 'sections/_video';
@import 'sections/_about';
@import 'sections/_goals';
@import 'sections/_price';
@import 'sections/_attention';
@import 'sections/_after';
@import 'sections/_diss';
@import 'sections/_faq';
@import 'sections/_result';
@import 'sections/_footer';