.about {

    @media (max-width: $mobile-m) {
        padding-bottom: 36px;
    }
}

.about__wrap {
    
}

.about__header {
    max-width: 850px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.about__label {
    font-size: 30px;
    text-align: center;

    @media (max-width: $mobile-l) {
        font-size: 24px;
    }

    @media (max-width: $mobile-m) {
        font-size: 22px;
    }
}

.about__title {
    font-size: 36px;
    margin: 20px 0 0 0;

    @media (max-width: $mobile-l) {
        margin: 18px 0 0 0;
    }

    @media (max-width: $mobile-m) {
        font-size: 26px;
    }
}

.about__section-list {
    margin: 34px 0 0 0;

    @media (max-width: $mobile-l) {
        margin: 20px 0 0 0;
    }
}

.about__section {
    position: relative;
    display: flex;

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column !important;
        align-items: center;
    }

    &:not(:last-child) {
        margin: 0 0 50px 0;

        @media (max-width: $mobile-l) {
            margin: 0 0 25px 0;
        }
    }
}

.about__section-content-title {
    position: absolute;
    top: 0;
    font-size: 24px;
    font-weight: 700;
    text-align: left;

    @media (max-width: 700px) {
        position: initial;
    }

    @media (max-width: $mobile-l) {
        font-size: 20px;
    }
}

.about__section_first {

    & .about__section-content-title {
        left: 503px;

        @media (max-width: $tablet) {
            left: 353px;
        }
    }

    & .about__section-img {
        margin: 31px 0 0 0;

        @media (min-width: 700px) and (max-width: $tablet) {
            margin-left: -150px;
        }

        @media (max-width: $mobile-l) {
            margin: 24px 0 0 0;
        }
    }

    & .about__section-content {
        margin: 54px 0 0 50px;

        @media (max-width: 700px) {
            margin: 40px 0 0 0
        }

        @media (max-width: $mobile-l) {
            margin: 20px 0 0 0;
        }
    }
}

.about__section_second {
    flex-direction: row-reverse;
    justify-content: center;
    
    @media (max-width: $tablet) {
        justify-content: flex-start;
    }

    & .about__section-content-title {
        left: 0;
    }

    & .about__section-img {
        margin: 16px 0 0 0;

        @media (min-width: 700px) and (max-width: $tablet) {
            margin-right: -170px;
            transform: translate(-20px, 0);
        }
    }

    & .about__section-content {
        margin: 54px 50px 0 0;

        @media (max-width: $laptop) {
            margin-bottom: 40px;
        }
        
        @media (max-width: $tablet) {
            width: 100%;
            margin-bottom: 0;
        }

        @media (max-width: 700px) {
            margin-top: 40px;
        }

        @media (max-width: $mobile-l) {
            margin: 20px 0 0 0;
        }
    }
}

.about__section-img {
    min-width: 455px;
    width: 455px;

    @media (max-width: 700px) {
        min-width: auto;
        max-width: 340px;
        width: auto;
    }

    @media (max-width: $mobile-l) {
        max-width: 210px;
    }

    & img {
        object-position: top;
    }
}

.about__section-content {
    display: flex;
    flex-direction: column;
    // margin: 54px 0 0 50px;
}

.about__section-content-item {
    font-size: 24px;

    @media (max-width: $tablet) {
        font-size: 22px;
    }

    @media (max-width: $mobile-m) {
        font-size: 20px;
    }

    &::before {
        content: '';
        display: inline-block;
        width: 21px;
        height: 20px;
        background: url(../img/icons/tick.png) no-repeat;
        background-size: contain;
        background-position: center;
        margin: 0 6px 0 0;

        @media (max-width: $mobile-l) {
            width: 8px;
            height: 8px;
            background: #B69576;
            border-radius: 100%;
            margin: 0 8px 3px 0;
        }
    }

    &:not(:last-child) {
        margin: 0 0 12px 0;
    }

    & strong {
        font-weight: 700;
    }
}

.about__section-content-btn {
    margin-top: 80px;

    @media (max-width: $laptop) {
        margin-top: 40px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 23px;
    }
}

.about__section-line {
    position: relative;
    left: 50%;
    max-width: 1000px;
    transform: translate(-50%, 0);
    margin: 20px 0 0 0;

    @media (max-width: $tablet) {
        margin-top: 60px;
    }

    @media (width: 768px) {
        margin-top: 20px;
    }

    @media (max-width: $mobile-l) {
        margin-top: 43px;
    }
}