.after {
    position: relative;
    padding-top: 0;

    @media (max-width: $tablet) {
        padding-bottom: 90px;
    }

    @media (max-width: $mobile-l) {
        padding-bottom: 40px;
    }

    @media (max-width: $mobile-m) {
        margin: 0 0 36px 0;
    }
}

.after__wrap {

}

// Шапка
.after__header {

}

.after__title {
    max-width: 850px;
    width: 100%;
    font-size: 30px;
    margin: 0 auto;

    @media (max-width: $mobile-m) {
        font-size: 24px;
    }
}

// Тело
.after__body {
    margin: 60px 0 0 0;

    @media (max-width: $mobile-l) {
        margin: 30px 0 0 0;
    }
}

// Карточки
.after__item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px 85px;

    @media (max-width: $tablet) {
        gap: 24px 40px;
    }

    @media (max-width: $mobile-l) {
        gap: 15px 30px;
    }

    @media (max-width: $mobile-m) {
        gap: 15px 25px;
    }
}

.after__item {
    max-width: 280px;
    width: 100%;

    @media (max-width: $tablet) {
        max-width: 220px;
    }

    @media (max-width: $mobile-l) {
        max-width: 200px;
    }

    @media (max-width: 480px) {
        max-width: 150px;
    }
}

.after__item-img {
    max-width: 246px;
    width: 100%;
    margin: 0 auto;
}

.after__item-title {
    font-size: 20px;
    color: $main;
    text-align: center;
    margin: 12px 0 0 0;

    @media (max-width: $mobile-m) {
        font-size: 18px;
    }
}

// Контентная часть
.after__text {
    max-width: 720px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 54px auto 0 auto;

    & a {
        text-decoration: underline;
    }

    @media (max-width: $mobile-l) {
        margin: 30px auto 0;
    }

    @media (max-width: $mobile-m) {
        font-size: 18px;
    }
}

// Пожалуйста
.after__please {
    display: flex;
    flex-direction: column;
    margin: 45px 0 0 0;

    @media (max-width: $mobile-m) {
        margin: 18px 0 0 0;
    }
}

.after__please-title {
    font-size: 36px;
    font-family: $ffSerif;
    font-style: italic;
    color: $main;
}

.after__please-text {
    max-width: 826px;
    width: 100%;
    font-size: 24px;
    font-family: $ffSerif;
    font-style: italic;
    text-align: center;
    margin: 28px auto 0;

    @media (max-width: $mobile-m) {
        margin-top: 15px;
    }
}

.after__please-btn {
    max-width: 250px;
    width: 100%;
    margin: 37px auto 0;

    @media (max-width: $mobile-m) {
        margin-top: 34px;
    }
}

.after__line {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 1000px;
    transform: translate(-50%, 0);
}