.attention {
    
}

.attention__wrap {

}

.attention__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.attention__header-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
}

.attention__header-text {
    max-width: 450px;
    width: 100%;
    font-size: 24px;
    margin: 50px 0 0 0;

    @media (max-width: $mobile-m) {
        font-size: 22px;
        margin: 32px 0 0 0;
    }

    & strong {
        font-size: 30px;

        @media (max-width: $mobile-m) {
            font-size: 22px;
        }
    }
}

.attention__body {
    position: relative;
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 0;

    @media (max-width: $mobile-l) {
        flex-direction: column;
        margin: 48px auto 0;
    }

    @media (max-width: $mobile-m) {
        margin-top: 32px;
    }
}

.attention__content {
    max-width: 354px;
    width: 100%;
    font-weight: 24;
}

.attention__text {
    font-size: 24px;

    @media (max-width: $mobile-l) {
        text-align: center;
    }

    @media (max-width: $mobile-m) {
        font-size: 22px;
    }

    & strong {
        
        @media (max-width: $mobile-m) {
            white-space: nowrap;
        }
    }
}

.attention__img {
    min-width: 300px;
    width: 300px;
    margin: 0 0 0 24px;

    @media (max-width: $mobile-l) {
        margin: 30px 0 0 0;
    }

    @media (max-width: $mobile-m) {
        min-width: 250px;
        width: 250px;
        margin: 20px 0 0 0;
    }
}

.attention__line {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}