.goals {
    position: relative;
    margin: 60px 0 0 0;

    @media (max-width: $mobile-m) {
        margin: 36px 0 0 0;
    }
}

.goals__line {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1000px;
    transform: translate(-50%, 0);
}

.goals__wrap {

}

.goals__header {

}

.goals__title {
    max-width: 560px;
    font-size: 36px;
    margin: 0 auto;

    @media (max-width: $mobile-m) {
        font-size: 28px;
    }
}

.goals__body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 83px 0 0 0;

    @media (max-width: $mobile-l) {
        margin: 32px 0 0 0;
    }
}

.goals__img {
    width: 411px;

    @media (max-width: 700px) {
        width: 320px;
    }

    @media (max-width: $mobile-l) {
        max-width: 260px;
        width: 100%;
    }
}

.goals__list {

    @media (max-width: $mobile-l) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin: 48px 0 0 0;
    }

    @media (max-width: $mobile-s) {
        gap: 16px;
    }
}

.goals__item {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: $tablet) {
        max-width: 150px;
    }

    @media (max-width: $mobile-l) {
        position: initial;
        max-width: 220px;
        transform: none !important;
    }

    &:nth-child(1) {
        transform: translate(calc(-50% - 265px), calc(-50% + 80px));

        @media (max-width: 800px) {
            transform: translate(calc(-50% - 265px), calc(-50% + 70px));
        }
        
        @media (max-width: 700px) {
            transform: translate(calc(-50% - 215px), calc(-50% + 70px));
        }
    }

    &:nth-child(2) {
        transform: translate(calc(-50% - 305px), calc(-50% + -110px));

        @media (max-width: 800px) {
            transform: translate(calc(-50% - 235px), calc(-50% + -90px));
        }
        
        @media (max-width: 700px) {
            transform: translate(calc(-50% - 210px), calc(-50% + -70px));
        }
    }

    &:nth-child(3) {
        transform: translate(calc(-50% - 160px), calc(-50% + -195px));

        @media (max-width: 800px) {
            transform: translate(calc(-50% - 140px), calc(-50% + -195px));
        }
        
        @media (max-width: 700px) {
            transform: translate(calc(-50% - 120px), calc(-50% + -175px));
        }
    }

    &:nth-child(4) {
        transform: translate(calc(-50% + 125px), calc(-50% + -195px));

        @media (max-width: 800px) {
            transform: translate(calc(-50% + 105px), calc(-50% + -195px));
        }
        
        @media (max-width: 700px) {
            transform: translate(calc(-50% + 90px), calc(-50% + -175px));
        }
    }

    &:nth-child(5) {
        transform: translate(calc(-50% + 305px), calc(-50% + -110px));

        @media (max-width: 800px) {
            transform: translate(calc(-50% + 225px), calc(-50% + -90px));
        }
        
        @media (max-width: 700px) {
            transform: translate(calc(-50% + 185px), calc(-50% + -70px));
        }
    }

    &:nth-child(6) {
        transform: translate(calc(-50% + 265px), calc(-50% + 80px));

        @media (max-width: 800px) {
            transform: translate(calc(-50% + 255px), calc(-50% + 70px));
        }
        
        @media (max-width: 700px) {
            transform: translate(calc(-50% + 215px), calc(-50% + 70px));
        }
    }
}

.goals__item-img {
    width: 99px;

    @media (max-width: 800px) {
        width: 80px;
    }

    @media (max-width: 700px) {
        width: 70px;
    }
}

.goals__item-text {
    font-size: 20px;
    text-align: center;
    margin: 10px 0 0 0;

    @media (max-width: $tablet) {
        font-size: 17px;
    }
}

.goals__text {
    width: fit-content;
    font-size: 17px;
    font-weight: 700;
    color: $second;
    margin: 48px auto 0 auto;
}