.price {
    background: url(../img/price/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.price__wrap {

}

// Модификаторы
.price-item_padding {
    padding: 0 16px;

    @media (max-width: $mobile-m) {
        padding: 0 12px;
    }
}

.price__header {
    max-width: 910px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.price__header-label {
    font-size: 30px;
    color: $second;

    @media (max-width: $tablet) {
        max-width: 580px;
    }

    @media (max-width: $mobile-l) {
        max-width: 450px;
        font-size: 24px;
    }

    @media (max-width: $mobile-m) {
        font-size: 22px;
    }

    & strong {
        font-weight: 700;
    }
}

.price__header-text {
    font-size: 24px;
    margin: 32px 0 0 0;

    @media (max-width: $mobile-l) {
        font-size: 22px;
        margin: 17px 0 0 0;
    }

    @media (max-width: $mobile-m) {
        font-size: 18px;
    }
}

.price__header-title {
    font-size: 36px;
    margin: 42px 0 0 0;

    @media (max-width: $mobile-l) {
        font-size: 30px;
        margin: 25px 0 0 0;
    }

    @media (max-width: $mobile-m) {
        font-size: 28px;
        margin: 18px 0 0 0;
    }

    & strong {
        font-weight: 700;
    }
}

.price__body {
    margin: 24px 0 0 0;
}

.price-item__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;

    @media (max-width: $laptop) {
        grid-template-columns: minmax(min-content, 620px);
        row-gap: 33px;
        justify-content: center;
    }
}

// Карточки с условиями и ценами
.price-item {
    background: #fff;
}

.price-item__acc-header {

}

.price-item__acc-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media (max-width: $laptop) {
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: $tr;
    }
}

.price-item__wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &._show {

        & .price-item__more {
            display: none;
        }
    }
}

// Шапка карточки
.price-item__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    padding-top: 32px;
    padding-bottom: 16px;
}

.price-item__title {
    font-size: 30px;

    @media (max-width: $mobile-m) {
        font-size: 24px;
    }
}

.price-item__line {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 280px;
    width: 100%;
    transform: translate(-50%, 0);
}

// Контент карточки
.price-item__body {
    flex: 1 1 auto;
    font-size: 22px;
    margin: 26px 0 60px 0;

    @media (max-width: $laptop) {
        margin: 100px 0 36px 0;
    }

    @media (max-width: $mobile-m) {
        margin-bottom: 27px;
    }


}

.price-item__subtitle {
    font-weight: 700;
    text-align: left;
    margin: 12px 0;

    @media (max-width: $laptop) {
        display: flex;
        font-weight: 400;

        &::before {
            content: '';
            display: block;
            min-width: 20px;
            width: 20px;
            height: 20px;
            background: url(../img/icons/tick-dark.png) no-repeat;
            background-size: contain;
            background-position: center;
            margin: 0 20px 0 0;

            @media (max-width: $mobile-m) {
                min-width: 8px;
                width: 8px;
                height: 8px;
                background: #B69576;
                border-radius: 100%;
                margin: 6px 8px 0 0;
            }
        }
    }

    @media (max-width: $mobile-m) {
        font-size: 18px;
    }
}

.price-item__ol {
    margin: 12px 0;

    @media (max-width: $laptop) {
        padding: 0 0 0 40px;
    }

    @media (max-width: $mobile-m) {
        padding: 0 0 0 16px;
    }
}

.price-item__li {
    margin: 12px 0;

    @media (max-width: $mobile-m) {
        font-size: 18px;
    }
}

.price-item__text {
    margin: 12px 0 0 0;

    @media (max-width: $laptop) {
        padding: 0 0 0 40px;
    }

    @media (max-width: $mobile-m) {
        font-size: 18px;
        padding: 0 0 0 16px;
    }
}

.price-item__attention {
    font-weight: 700;
    color: $accent;
    margin: 12px 0;

    @media (max-width: $laptop) {
        text-align: center;
    }
}

// Подвал
.price-item__footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 12px 48px 12px;
    margin: auto 0 0 0;

    @media (max-width: $mobile-m) {
        padding-bottom: 40px;
    }
}

.price-item__prices {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 30px 0;

    @media (max-width: $laptop) {
        position: absolute;
        top: 28px;
        left: 50%;
        transform: translate(-50%, 0);
    }
}

.price-item__old-price {
    font-size: 22px;
    text-decoration: line-through;

    @media (max-width: $laptop) {
        font-size: 20px;
    }
}

.price-item__current-price {
    font-size: 28px;
    font-weight: 700;
    color: $accent;
    margin: 16px 0 0 0;

    @media (max-width: $laptop) {
        font-size: 24px;
        margin: 10px 0 0 0;
    }
}

.price-item__footer-btn {
    width: 250px;
    padding: 20px 12px;
}

// Кнопка "Узнать подробнее"
.price-item__more {
    display: none;

    @media (max-width: $laptop) {
        display: flex;
        align-items: center;
        margin: 30px 0;
        transition: $tr;
    }
}

.price-item__more-text {
    font-size: 18px;
    color: $main;
}

.price-item__more-icon { 
    display: flex;
    width: 15px;
    margin: 0 0 0 9px;
}