.situation {

}

.situation__body {

}

.situation__title {
}

.situation__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px 44px;
    margin: 50px auto 0 auto;

    @media (max-width: $tablet) {
        gap: 12px 24px;
    }
}

.situation__item {
    width: 200px;
    justify-self: center;

    @media (max-width: $tablet) {
        width: 170px;
    }

    @media (max-width: 830px) {
        width: 150px;
    }
}

.situation__item-img {
    width: 100%;
    height: auto;
}

.situation__item-text {
    font-size: 20px;
    margin: 13px 0 0 0;
    text-align: center;

    @media (max-width: $tablet) {
        font-size: 18px;
    }

    @media (max-width: 830px) {
        font-size: 16px;
    }
}

// Блок с текстом
.situation__text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px 0 0 0;
}

.situation__text {
    font-size: 20px;
    text-align: center;

    &:not(:last-child) {
        margin: 0 0 20px 0;
    }
}

.situation__text_bold {
    font-weight: 700;
}