.situation__title {

    @media (max-width: $mobile-m) {
        font-size: 23px;
    }

    @media (max-width: $mobile-s) {
        font-size: 20px;
    }
}

.situation__list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 44px;
    row-gap: 12px;
    margin: 50px auto 0;

    @media (max-width: $tablet) {
        column-gap: 24px;
        margin: 30px auto 0;
    }

    @media (max-width: $mobile-l) {
        column-gap: 48px;
    }

    @media (max-width: $mobile-m) {
        column-gap: 16px;
    }
}

.situation__item {
    width: 200px;
    justify-self: center;

    @media (max-width: $tablet) {
        width: 170px;
    }

    @media (max-width: 830px) {
        width: 150px;
    }

    @media (max-width: $mobile-l) {
        width: 160px;
    }

    @media (max-width: $mobile-m) {
        width: 140px;
    }

    @media (max-width: $mobile-s) {
        width: 130px;
    }
}

.situation__item-img {
    width: 100%;
    height: auto;
}

.situation__item-text {
    font-size: 20px;
    margin: 13px 0 0 0;
    text-align: center;

    @media (max-width: $tablet) {
        font-size: 18px;
    }

    @media (max-width: 830px) {
        font-size: 16px;
    }

    @media (max-width: $mobile-l) {
        font-size: 18px;
    }

    @media (max-width: $mobile-m) {
        font-size: 16px;
    }

    @media (max-width: $mobile-s) {
        font-size: 15px;
    }
}

// Блок с текстом
.situation__text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 33px 0 0 0;
}

.situation__text {
    font-size: 20px;
    text-align: center;

    &:not(:last-child) {
        margin: 0 0 20px 0;

        @media (max-width: $mobile-m) {
            margin: 0 0 16px 0;
        }
    }

    @media (max-width: $mobile-m) {
        font-size: 18px;
    }

    @media (max-width: $mobile-s) {
        font-size: 16px;
    }
}

.situation__text_bold {
    font-weight: 700;
}