.video {
    position: relative;
    z-index: 1;
    background: $bg-section;
}

.video__wrap {

}


.video__header {

}

.video__title {
    font-size: 36px;

    @media (max-width: $mobile-l) {
        font-size: 28px;
    }

    @media (max-width: $mobile-m) {
        font-size: 24px;
    }
}

.video__body {
    margin: 35px 0 0 0;

    @media (max-width: $mobile-l) {
        margin: 29px 0 0 0;
    }
}

.video__block {
    position: relative;
    max-width: 680px;
    width: 100%;
    height: 380px;
    background: url(../img/video/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    margin: 0 auto;
    overflow: hidden;

    @media (max-width: $mobile-l) {
        height: 300px;
    }

    @media (max-width: 560px) {
        height: 250px;
    }

    @media (max-width: 490px) {
        height: 200px;
    }

    @media (max-width: 390px) {
        height: 170px;
    }

    @media (max-width: 340px) {
        height: 150px;
    }

    & iframe {
        width: 100%;
        height: 100%;
    }
}

.video__content {
    position: absolute;
    top: 54px;
    right: 49px;
    z-index: 1;
    font-weight: 700;
    color: $second;
    text-align: center;
}

.video__text {
    font-size: 35px;
}

.video__label {
    font-size: 25px;
}

.video__play {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(calc(-50% + -10px), calc(-50% + 60px));
    background: rgba(255,255,255,.3);
    border-radius: 100%;
}

.video__play-icon {
    width: 44px;
    margin: 0 -15px 0 0;
}

// Декорации блока с видео
.video__dec {
}

.video__flower {
    position: absolute;
    top: 50%;
    left: 50%;
}

.video__flower-left-1 {
    width: 140px;
    top: 0;
    transform: translate(calc(-50% - 280px), 0);
}

.video__flower-left-2 {

}

.video__dayna {
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 300px;
}

// Форма
.video__form {

}

.video__input-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    margin: 30px 0 0 0;

    @media (max-width: $tablet) {
        grid-template-columns: minmax(max-content, 370px);
        row-gap: 24px;
        justify-content: center;
    }

    @media (max-width: $mobile-l) {
        row-gap: 16px;
    }
}

.video__btn {
    margin: 30px auto 0;
    padding: 20px 30px;

    @media (max-width: $mobile-l) {
        max-width: 370px;
        width: 100%;
    }
}

.video__error {
    display: none;
}